@font-face {
  font-family: 'Haptik';
  src: url('../fonts/GT-Haptik-Black-2.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'Haptik';
  src: url('../fonts/GT-Haptik-Medium-2.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Haptik';
  src: url('../fonts/GT-Haptik-Light-2.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Domaine';
  src: url('../fonts/DomaineTextWeb-Regular.woff?#iefix') format('embedded-opentype');
  src: url('../fonts/DomaineTextWeb-Regular.woff') format('woff');
  src: url('../fonts/DomaineDisp-Regular.otf') format('otf'),
       url('../fonts/DomaineTextWeb-Regular.woff') format('woff'),
       url('../fonts/DomaineDisp-Regular.otf?#iefix') format('embedded-opentype');
}
@font-face {
  font-family: 'Backlash';
  src: url('../fonts/Backlash.ttf');
}


h1 {
  text-transform: uppercase;
  font-size: $haptik-6!important;
  text-align: center;
  font-family: 'Haptik';
  font-weight: 800;
  margin: 0 0 $size-11 0!important;
}

h2 {
  text-transform: uppercase;
  font-size: $haptik-6!important;
  text-align: center;
  font-family: 'Haptik';
  font-weight: 800;
  margin-bottom: $size-9;
}



h4 {
  font-size: $haptik-5!important;
  font-family: 'Haptik';
  font-weight: 800;
  margin-bottom: $size-2;
}

h5 {
  font-size: $domaine-4;
  font-family: 'Domaine';
  margin-bottom: $size-2;
}

h6 {
  font-size: $haptik-4;
  margin: 0px 0px $size-3 0px;
}

pre {
  font-family: 'Haptik'!important;
  font-weight: 400!important;
  font-size: $haptik-3!important;
  text-align: center;
}

li {
  text-decoration: none;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Haptik";
  font-size: $haptik-3;
  background-color: $haldi-yellow;
  border: 3px solid $haldi-black;
  height: $size-8;
  width: $size-13;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 13;
  margin: auto;
}

.post-body {
  :nth-child(1) {
    grid-row-start: 1;
  }
  :nth-child(2) {
    grid-row-start: 2;
  }
  :nth-child(3) {
    grid-row-start: 3;
  }
}

.number {
  width: $size-6;
  height: $size-6;
  border: 3px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $haptik-3;
  font-family: "Haptik";
  font-weight: 800;
  margin-bottom: $size-2;
  position: relative;
}

.bitnami-corner-image { display: none !important; }



.slick-dots li button {
 color: $haldi-white-20!important;
 background-color: $haldi-white-20!important;
 height: $size-3!important;
 width: $size-3!important;
 border-radius: calc(#{$size-3} / 2);
}

.slick-dots li.slick-active button {
  color: $haldi-white!important;
  background-color: $haldi-white!important;
}

.slick-list {
  margin-bottom: $size-7!important;
}
