
// Sizes

$multiple: 1.2;
$size--2: calc(.317rem * #{$multiple}); //5px
$size--1: calc(.422rem * #{$multiple}); //6.8px
$size-1: calc(.563rem * #{$multiple}); //9.0px
$size-2: calc(.75rem * #{$multiple}); //12.0px
$size-3: calc(1rem * #{$multiple}); //16px
$size-4: calc(1.33rem * #{$multiple}); //21.33px
$size-5: calc(1.77rem * #{$multiple}); //28.43px
$size-6: calc(2.369rem * #{$multiple}); //37.897px
$size-7: calc(3.157rem * #{$multiple}); //50.517px
$size-8: calc(4.209rem * #{$multiple}); //67.34px
$size-9: calc(5.61rem * #{$multiple}); //89.764px
$size-10: calc(7.478rem * #{$multiple}); //119.655px
$size-11: calc(9.69rem * #{$multiple}); //159.5px
$size-12: calc(13.288rem * #{$multiple}); //212.6px
$size-13: calc(17.713rem * #{$multiple}); //283px
$size-14: calc(23.612rem * #{$multiple});
$size-15: calc(31.475rem * #{$multiple});

// Fonts
$multiple: .6;

$haptik-0: calc(.75rem * #{$multiple}); //12px
$haptik-1: calc(1rem * #{$multiple}); //16px
$haptik-2: calc(1.33rem * #{$multiple}); //21.33px
$haptik-3: calc(1.77rem * #{$multiple}); //28.43px
$haptik-4: calc(2.369rem * #{$multiple}); //37.897px
$haptik-5: calc(3.157rem * #{$multiple}); //50.517px
$haptik-6: calc(4.209rem * #{$multiple}); //67.34px
$haptik-7: calc(5.61rem * #{$multiple}); //89.764px
$haptik-8: calc(7.478rem * #{$multiple}); //119.655px
$haptik-9: calc(9.69rem * #{$multiple}); //159.5px

$multiple: .65;

$domaine-1: calc(.9375rem * #{$multiple}); //15px
$domaine-2: calc(1.24rem * #{$multiple}); //19.33px
$domaine-3: calc(1.66rem * #{$multiple});
$domaine-4: calc(2.22rem * #{$multiple});




// Colors

$haldi-yellow: #FFBB00;
$haldi-black: #000000;
$haldi-black-40: #94918F;
$haldi-black-20: rgba(0,0,0,.2);
$haldi-black-05: rgba(0,0,0,.05);
$haldi-white: #ffffff;
$haldi-white-20: rgba(255,255,255,.2);
$haldi-blush: #F7F2EF;
$haldi-gray: #9B9B9B;


$bodyWidth: 1200px;
$gridGap: $size-4;
$bodyMargin: $size-6;
$product-margin: $size-9;
